.article {
  position: relative;
  display: block;
  margin-top: 0.75rem;
}

.main_article {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

.table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0.188rem;
}

.table_row {
  display: table-row;
}

.table_cell {
  display: table-cell;
}

.table_day_cell {
  text-align: center;
  min-width: 1.75rem;
  min-height: 1.75rem;
  height: 1.75rem;
}

.table_sticky_cell {
  text-align: right;
  min-width: 2.5rem;
  min-height: 1.75rem;
  height: 1.75rem;
  padding-right: 0.5rem;
}

.table_border_cell {
  border: 1px;
  border-radius: 0.125rem;
}

.small_font {
  font-size: 0.75rem;
  line-height: 1rem;
}

.large_font {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.bold_font {
  font-weight: bold;
}
